@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

body, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;
}

.container {
    width: 35vw;
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background: #FFFFFF;
    box-shadow: 0px 4px 12px #0000001a;
    border-radius: 12px;
}

.container span {
    width: 14px;
    height: 18px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    text-align: center;
    letter-spacing: -0.035em;
    color: #BDBDBD;
}

.header {
    width: 100%;
    font-family: Poppins;
    font-size: 1.5rem;
    letter-spacing: -0.035em;
    text-align: center;
    color: #4F4F4F;
}

.subheader {
    width: 100%;
    font-family: Poppins;
    font-size: .7rem;
    letter-spacing: -0.035em;
    text-align: center;
    color: #828282;
}

.drop-zone {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    height: 50%;
    background: #F6F8FB;
    border: 1px dashed #97BEF4;
    box-sizing: border-box;
    border-radius: 12px;
}

.drop-zone p {
    width: 100%;
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: .8rem;
    text-align: center;
    line-height: 18px;
    letter-spacing: -0.035em;
    color: #BDBDBD;
    cursor: default;
    user-select: none;
}

.icon {
    width: 115px;
    height: 90px;
    background-image: url("../../assets/svg/icon.svg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}

button {
    width: 120px;
    height: 35px;
    background: #2F80ED;
    border-radius: 8px;
    border: none;
    color: #FFFFFF;
    cursor: pointer;
    font-size: 16px;
    font-family: Noto Sans;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    letter-spacing: -0.035em;
    padding: 10px;
}

.modal {
    display: none;
}

.modal-active {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    margin: 0;
    overflow: auto;
    background-color: #00000066;
}
  
.modal-content {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 410px;
    height: 150px;
    background-color: #fefefe;
    font-family: Poppins;
    font-style: normal;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: -0.035em;
    margin: auto;
    padding: 20px;
    background: #FFFFFF;
    border-radius: 12px;
}
  
.close {
    position: absolute;
    top: 0;
    left: 0;
    color: #aaaaaa;
    font-size: 28px;
    font-weight: bold;
}
  
.close:hover,
.close:focus {
    color: #D0342C;
    text-decoration: none;
    cursor: pointer;
}

@media screen and (max-width: 768px) {

    .container {
        width: 80vw;
        height: 40vh;
        justify-content: center;
    }

    .drop-zone, .container span {
        display: none;
    }
}