@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

* {
    margin: 15px;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.container {
    width: 400px;
    height: 143px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background: #FFFFFF;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
}

.header {
    width: 165px;
    height: 27px;
    font-family: Poppins;
    font-style: normal;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: -0.035em;
    color: #4F4F4F;
}

.loading-bar {
    position: relative;
    width: 340px;
    height: 6px;
    background: #F2F2F2;
    border-radius: 8px;
    background-size: 100px;
}

.loading-bar::before {
    content: attr(data-label);
    display: flex;
	align-items: center;
	position: absolute;
	width: 100px;
    height: 6px;
	min-width: 2rem;
	max-width: calc(100% - 1em);
	background-color: #2F80ED;
	border-radius: 1em;
    animation: loading 3000ms infinite;
}

@keyframes loading {
    50% {
        transform: translateX(240px);
    }
}